In [ ]:
import pickle

In [ ]:


# unpickling the model
with open('voiture_model_LR.pkl', 'rb') as f:
    model_LR  = pickle.load(f)

print ("imported model : ", model_LR)

In [ ]:

# Version : Allure 1.2 puretech (make)
# Année 2021 (boreratio * 100 // 20 )
# Kilométrage : 10 km ( (2021-année)* 15000 )
# Energie : Essence (fueltype)
# Transmission : Manuelle (adapter aspiration)
# Nb de portes : 4 portes avec hayon (doornumber)
# Puissance fiscale : 5 CV (horsepower)
# Prix 22 370 € (price)

In [60]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy.random as rd
import re

In [52]:
df = pd.read_csv('AutoData.csv')

In [53]:
df.rename(columns={'price':'prix', 'make':'version','fueltype':'energie','doornumber':'portes','horsepower':'puissance', 'aspiration':'transmission'}, inplace=True)
df.keys()

Index(['symboling', 'version', 'energie', 'transmission', 'portes', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'puissance',
       'peakrpm', 'citympg', 'highwaympg', 'prix'],
      dtype='object')

In [55]:
df['ans']= (df.wheelbase * 10 % 8) +  (df.carlength * 10 % 8) +  rd.randint(1,3,len(df['prix']))

In [56]:
df['kilometrage']= rd.randint(1,30000,len(df['prix']))
for i in range(len(df['prix'])):
    df.kilometrage[i]=df.kilometrage[i]+df.an[i]*rd.randint(1,30)*1000

/tmp/ipykernel_101112/4206200943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.kilometrage[i]=df.kilometrage[i]+df.an[i]*rd.randint(1,30)*1000

In [57]:
df.keys()

Index(['symboling', 'version', 'energie', 'transmission', 'portes', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'puissance',
       'peakrpm', 'citympg', 'highwaympg', 'prix', 'an', 'kilometrage'],
      dtype='object')

In [78]:
df.drop( ['symboling', 'carbody','drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'peakrpm', 'citympg', 'highwaympg'], axis =1,inplace=True)

In [102]:
df['marque']=df['version']

for i in range(len(df['prix'])):
    res = re.search('^.+?\s', df.version[i] )
    if res:
        df.marque[i]= res.group()

/tmp/ipykernel_101112/1810664303.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.marque[i]= res.group()

In [103]:
df.marque.unique()

array(['alfa-romero ', 'audi ', 'bmw ', 'chevrolet ', 'dodge ', 'honda ',
       'isuzu ', 'jaguar ', 'maxda ', 'mazda ', 'buick ', 'mercury ',
       'mitsubishi ', 'Nissan ', 'nissan ', 'peugeot ', 'plymouth ',
       'porsche ', 'porcshce ', 'renault ', 'saab ', 'subaru', 'subaru ',
       'toyota ', 'toyouta ', 'vokswagen ', 'volkswagen ', 'vw ',
       'volvo '], dtype=object)

In [122]:
df['energie'].replace(['gas'], 'essence', inplace=True)

In [120]:
df['transmission'].replace(['std'], 'manuelle', inplace=True)
df['transmission'].replace(['turbo'], 'automatique', inplace=True)

In [124]:
df['portes'].replace(['two'], 2, inplace=True)
df['portes'].replace(['four'], 4, inplace=True)

In [127]:
df.head()

,version,energie,transmission,portes,puissance,prix,ans,kilometrage,marque
0,alfa-romero giulia,essence,manuelle,2,111,13495.0,8.0,49474,alfa-romero
1,alfa-romero stelvio,essence,manuelle,2,111,16500.0,7.0,132109,alfa-romero
2,alfa-romero Quadrifoglio,essence,manuelle,2,154,16500.0,3.0,81097,alfa-romero
3,audi 100 ls,essence,manuelle,4,102,13950.0,13.0,324792,audi
4,audi 100ls,essence,manuelle,4,115,17450.0,9.0,144573,audi

In [128]:
df.to_csv('fakeAutoData.csv')