In [2]:
import pickle

In [7]:
a1 = [1, 2, 3, 4]

In [8]:
with open('var_a1.pkl','wb') as f:
    pickle.dump(a1,f)

In [10]:
with open('var_a1.pkl','rb') as f:
    a2 = pickle.load(f)
a2

[1, 2, 3, 4]

In [5]:
with open('voiture_model_X_test.pkl','rb') as f:
    y_test = pickle.load(f)
y_test

,annee,kilometrage,portes,puissance_fiscale,places,energie_Diesel,energie_Essence,energie_Hybride,energie_Autres,energie_GPL ou GNL,...,marque_Subaru,marque_Saab,marque_RENAULT,marque_Smart,marque_Abarth,marque_JAGUAR,marque_KIA,marque_Mitsubishi,marque_Trafic,marque_FORD
122,2003,366459,4,12,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404,2008,247,2,10,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
529,2012,100900,2,4,5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105,2021,1790,4,6,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
449,2001,104000,2,4,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,1987,90000,4,8,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,2019,19700,4,7,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
210,2012,145000,4,5,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,2018,11200,2,10,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187,2006,140000,4,8,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y_test.shape

(174, 68)